{% extends "layout.html"%}
{%block title%}Average Salary Data{%endblock%}
{%block content%}
    <div class="jumbotron text-center bg-primary">
        <h1 class="text-light">What is the average salary by state?</h1>
    </div>
    <div class="row">
        <div class="col">&nbsp;</div>
        <div class="col">
            <div id="hld3"></div><br>
            <p style="font-size: 20px; font-weight: normal;">North Carolina and DC lead in average salary at $149k. California is ranked number 18 at $119k.
            Minnesota is lowest at $93k.</p>
        </div>
        <div class="col">&nbsp;</div>
    </div>
{%endblock%}

{%block js%}
    <script type="text/javascript" src="static/js/avgsalary_app.js"></script>
{%endblock%}
