           
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Data Science Jobs Dashboard</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.min.css" integrity="sha256-42ZuSmBHRnvUPztoivDb63B+cnETA18lljSgDbaGmgw=" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <div id="container" class="container-fluid bg-light"><br>
            <div class="jumbotron text-center bg-primary">
                <h1 class="text-light">Data Science Jobs</h1>
            </div><center>
            <div>
                <ul>
                    <li><a href="/location">Which locations have the most data science job postings?</a></li>
                    <li><a href="/industries">Which industries have the highest demand for data scientists?</a></li>
                    <li><a href="/skills">What are the desirable skills?</a></li>
                    <li><a href="/salaries">What is the average salary by state?</a></li>
                </ul>
            </div>
        </div>
    	<script src="https://d3js.org/d3.v5.min.js"></script>
    </body>
</html>
