{% extends "layout.html"%}
{%block title%}Data Science Jobs{%endblock%}
{%block content%}
    <div class="jumbotron text-center">
        <h1 class="display-3">Data Science Jobs</h1>
    </div>
    <div class="row">
        <div class="col-1">&nbsp;</div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h1>Welcome!<p class="lead lh-lg">The <strong>purpose</strong> of this project is to describe the prevalence of data science jobs posted on Glassdoor. The data was <mark>scraped in early 2021 &amp; represents data from 2020</mark>.
                        We hope our data analysis can be helpful to you and provide insight based on the questions we covered. Click below to see our findings!
                        </p>
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <a href="/location">Which locations have the most data science job postings?</a><br><br>
                                <a href="/industries">Which industries have the highest demand for data scientists?</a><br><br>
                                <a href="/skills">What are the desirable skills?</a><br><br>
                                <a href="/salaries">What is the average salary by state?</a><br>
                            </ul>
                            <div class="row">
                                <div class="col-6">
                                    <h5>Resources:</h5>
                                    <ul class="list-group">
                                        <li class="list-group-item"><a href="https://github.com/molobit619/data-science-jobs-dashboard">Github</a></li>
                                        <li class="list-group-item"><a href="https://www.kaggle.com/rashikrahmanpritom/data-science-job-posting-on-glassdoor?select=Cleaned_DS_Jobs.csv">Dataset</a></li>
                                        <li class="list-group-item"><a href="https://www.python-graph-gallery.com/circular-barplot-basic">Bar plot</a></li>
                                        <li class="list-group-item"><a href="https://jquery.com/">jQuery</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <img src="/api/data-science/skills/totals_by_technology.png" class="img-fluid" alt="some random image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">&nbsp;</div>
    </div>
{%endblock%}

{%block js%}
    <!-- load jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script> 
        $(document).ready(function() {
            $("a")
              .on( "mouseenter", function() {
                $(this).css({
                  "color": "blue"
                });
              })
              .on( "mouseleave", function() {
                var styles = {
                  backgroundColor : "",
                  color: ""
                };
                $(this).css(styles);
              });
        });
    </script>
{%endblock%}
