{% extends "layout.html"%}
{%block title%}Industry Data{%endblock%}
{%block content%}
    <div class="jumbotron text-center bg-primary">
        <h1 class="text-light">What industries have the highest demand for data scientists?</h1>
    </div>
    <div>
        <div class="row">
            <div class="col">&nbsp;</div>
            <div class="col"><img id="totals_by_industry" alt=""></div>
            <div class="col">&nbsp;</div>
        </div>
    </div>
{%endblock%}

{%block js%}
    <script src="/static/js/industries_app.js"></script>
{%endblock%}
