<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name ="viewport content="width=device-width, initial-scale=1, shrink-to-fit="no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{%block title %}{% endblock %}</title>

        <!-- bootstrap & css stylesheet-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.min.css" integrity="sha256-42ZuSmBHRnvUPztoivDb63B+cnETA18lljSgDbaGmgw=" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">
        {%block styles %}{% endblock %}
    </head>
    <body>
            <!-- nav bar-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/location">Location Data</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/industries">Industry Data</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/skills">Skills Data</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/salaries">Salary Data</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        <div id="container" class="container-fluid bg-light">
            {%block content%}
            {% endblock %}
            <a href="/">Back</a><br><br>
            <footer id="footer" class="footer footer-expand-md text-center">
                <p> © Everardo Maya, Hallie Lam, Brittany Whitaker</p>
            </footer>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        {%block js %}{% endblock %}
    </body>
</html>
