<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name ="viewport content="width=device-width, initial-scale=1, shrink-to-fit="no">

		<!-- bootstrap & css stylesheet-->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.min.css" integrity="sha256-42ZuSmBHRnvUPztoivDb63B+cnETA18lljSgDbaGmgw=" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">

        <title>2020 Data Science Job Postings </title>
	</head>

	<body><br><br><center>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <!-- left -->
                    <div class="box" style="padding-bottom: 30px;">
                        <h3 class="title">Which locations have the most data science job postings? </h3>
                        <hr>
                        <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~brittanyaylia/1.embed"></iframe>
                        <p> Most of the jobs posted in 2020 were concentrated in California, New York and the D.C/Maryland/Virginia (DMV) area.</p>
                    </div>
                </div>
            </div>
        </div>
	<a href="/">Back</a><br><br>
        <script src="https://d3js.org/d3.v6.min.js"></script>
    
	</center>
  </body>
</html>