<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name ="viewport content="width=device-width, initial-scale=1, shrink-to-fit="no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>2020 Data Science Job Postings</title>

		<!-- bootstrap & css stylesheet-->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.min.css" integrity="sha256-42ZuSmBHRnvUPztoivDb63B+cnETA18lljSgDbaGmgw=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">

	</head>

	<body><br><br><center>
        <!-- nav bar-->
        <div class="navigation">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" style="color: cornflowerblue;" href="http://127.0.0.1:5000/">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: cornflowerblue;" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Data Science Job Data
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="http://127.0.0.1:5000/location">Location Data</a>
                                <a class="dropdown-item" href="http://127.0.0.1:5000/industries">Industry Data</a>
                                <a class="dropdown-item" href="http://127.0.0.1:5000/skills">Skills Data</a>
                                <a class="dropdown-item" href="http://127.0.0.1:5000/salaries">Salary Data</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div id="container" class="container-fluid bg-light"><br>
            <div class="jumbotron text-center bg-primary">
                <h1 class="text-light">What locations have the most data science job postings?</h1>
            </div><center>
                <hr>
                <iframe width="900" height="700" frameborder="0" scrolling="no" src="//plotly.com/~brittanyaylia/1.embed"></iframe>
                <p style="font-size: 20px; color: cornflowerblue; font-weight: normal;">California, New York and the D.C/Maryland/Virginia (DMV) area had the highest concentrations of data science job openings. </p>
            </div>
        </div>
        <div id="hld3"></div><br>
        
        <a href="/">Back</a><br><br>
        <script src="https://d3js.org/d3.v6.min.js"></script>
        </center>

    <footer id="footer" class="footer footer-expand-md text-center">
        <p> © Everardo Maya, Hallie Lam, Brittany Whitaker</p>
     </footer>

        <!-- java -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

  </body>
</html>