{% extends "layout.html"%}
{%block title%}Skills Data{%endblock%}
{%block styles%}
    <link rel="stylesheet" href="/static/css/skills_app.css">
{%endblock%}
{%block content%}
    <div id="container" class="container-fluid bg-light">
        <div class="jumbotron text-center bg-primary">
            <h1 class="text-light">What are the desirable skills?</h1>
        </div>
        <div class="row chart-container">
            <div class="col-1"></div>
            <div class="col">
                <div id="skills_chart"></div>
            </div>
            <div class="col-4">
                <div id="summary" class="row">
                    <h3>&nbsp;</h3>
                    Total positions available: <span>&nbsp;</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="positions-table">
            </div>
        </div>
    </div>
{%endblock%}

{%block js%}
    <script src="/static/js/skills_bar_plot.js"></script>
    <script src="/static/js/skills_app.js"></script>
{%endblock%}
